table,
tr,
th,
td {
  text-align: center;
  background-color: rgba(182, 189, 194, 0.551);
}

.button {
  border: solid 1px;
  color: rgb(100, 50, 102);
  padding: 0px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(214, 30, 214);
  color: white;
}

.font {
  font-size: large;
}

canvas {
  background-color: white;
  opacity: 0.92;
}
